.subtotal{
    padding: 10px;
}
.checkout__button{
    padding: 8px;
    margin: 5px;
    background-color:#09c729;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29; 
}